---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"id\": \"bitcoin\", \n        \"name\": \"Bitcoin\",
        \n        \"symbol\": \"BTC\", \n        \"rank\": \"1\", \n        \"price_usd\":
        \"2517.13\", \n        \"price_btc\": \"1.0\", \n        \"24h_volume_usd\":
        \"1338520000.0\", \n        \"market_cap_usd\": \"41267684345.0\", \n        \"available_supply\":
        \"16394737.0\", \n        \"total_supply\": \"16394737.0\", \n        \"percent_change_1h\":
        \"-0.2\", \n        \"percent_change_24h\": \"7.03\", \n        \"percent_change_7d\":
        \"-11.69\", \n        \"last_updated\": \"1497641359\"\n    }, \n    {\n        \"id\":
        \"ethereum\", \n        \"name\": \"Ethereum\", \n        \"symbol\": \"ETH\",
        \n        \"rank\": \"2\", \n        \"price_usd\": \"369.777\", \n        \"price_btc\":
        \"0.148029\", \n        \"24h_volume_usd\": \"1362010000.0\", \n        \"market_cap_usd\":
        \"34219429080.0\", \n        \"available_supply\": \"92540718.0\", \n        \"total_supply\":
        \"92540718.0\", \n        \"percent_change_1h\": \"-0.7[...]
