---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/global/?convert=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"total_market_cap_usd\": 108036324926.0, \n    \"total_24h_volume_usd\":
        4053019101.0, \n    \"bitcoin_percentage_of_market_cap\": 38.42, \n    \"active_currencies\":
        756, \n    \"active_assets\": 128, \n    \"active_markets\": 4179\n}"
  recorded_at: Fri, 16 Jun 2017 20:45:51 GMT
recorded_with: VCR 3.0.3
