---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/global/?convert=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"total_market_cap_usd\": 108036324927.0, \n    \"total_24h_volume_usd\":
        4053019101.0, \n    \"bitcoin_percentage_of_market_cap\": 38.42, \n    \"active_currencies\":
        756, \n    \"active_assets\": 128, \n    \"active_markets\": 4179, \n    \"total_market_cap_eur\":
        96559842202.0, \n    \"total_24h_volume_eur\": 3622474988.0\n}"
  recorded_at: Fri, 16 Jun 2017 20:45:52 GMT
- request:
    method: get
    uri: https://api.coinmarketcap.com/v2/global/?convert=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"data\": {\n        \"active_cryptocurrencies\": 1910, \n        \"active_markets\":
        13693, \n        \"bitcoin_percentage_of_market_cap\": 52.48, \n        \"quotes\":
        {\n            \"USD\": {\n                \"total_market_cap\": 231635642248.0,
        \n                \"total_volume_24h\": 12785386292.0\n            }, \n            \"EUR\":
        {\n                \"total_market_cap\": 199484615104.0, \n                \"total_volume_24h\":
        11010774675.0\n            }\n        }, \n        \"last_updated\": 1535812402\n
        \   }, \n    \"metadata\": {\n        \"timestamp\": 1535811912, \n        \"error\":
        null\n    }\n}"
  recorded_at: Sat, 01 Sep 2018 14:34:07 GMT
recorded_with: VCR 4.0.0
