---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/global/?convert=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"total_market_cap_usd\": 108036324926.0, \n    \"total_24h_volume_usd\":
        4053019101.0, \n    \"bitcoin_percentage_of_market_cap\": 38.42, \n    \"active_currencies\":
        756, \n    \"active_assets\": 128, \n    \"active_markets\": 4179\n}"
  recorded_at: Fri, 16 Jun 2017 20:45:51 GMT
- request:
    method: get
    uri: https://api.coinmarketcap.com/v2/global/?convert=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"data\": {\n        \"active_cryptocurrencies\": 1910, \n        \"active_markets\":
        13693, \n        \"bitcoin_percentage_of_market_cap\": 52.53, \n        \"quotes\":
        {\n            \"USD\": {\n                \"total_market_cap\": 231841348919.0,
        \n                \"total_volume_24h\": 12735326175.0\n            }\n        },
        \n        \"last_updated\": 1535811622\n    }, \n    \"metadata\": {\n        \"timestamp\":
        1535811125, \n        \"error\": null\n    }\n}"
  recorded_at: Sat, 01 Sep 2018 14:22:45 GMT
recorded_with: VCR 4.0.0
