---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"id\": \"bitcoin\", \n        \"name\": \"Bitcoin\",
        \n        \"symbol\": \"BTC\", \n        \"rank\": \"1\", \n        \"price_usd\":
        \"2520.99\", \n        \"price_btc\": \"1.0\", \n        \"24h_volume_usd\":
        \"1337070000.0\", \n        \"market_cap_usd\": \"41330968030.0\", \n        \"available_supply\":
        \"16394737.0\", \n        \"total_supply\": \"16394737.0\", \n        \"percent_change_1h\":
        \"-0.04\", \n        \"percent_change_24h\": \"6.97\", \n        \"percent_change_7d\":
        \"-11.55\", \n        \"last_updated\": \"1497641660\"\n    }, \n    {\n        \"id\":
        \"ethereum\", \n        \"name\": \"Ethereum\", \n        \"symbol\": \"ETH\",
        \n        \"rank\": \"2\", \n        \"price_usd\": \"370.762\", \n        \"price_btc\":
        \"0.148423\", \n        \"24h_volume_usd\": \"1359580000.0\", \n        \"market_cap_usd\":
        \"34310581687.0\", \n        \"available_supply\": \"92540718.0\", \n        \"total_supply\":
        \"92540718.0\", \n        \"percent_change_1h\": \"-0.4[...]
