---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"id\": \"bitcoin\", \n        \"name\": \"Bitcoin\",
        \n        \"symbol\": \"BTC\", \n        \"rank\": \"1\", \n        \"price_usd\":
        \"2520.99\", \n        \"price_btc\": \"1.0\", \n        \"24h_volume_usd\":
        \"1337070000.0\", \n        \"market_cap_usd\": \"41330968030.0\", \n        \"available_supply\":
        \"16394737.0\", \n        \"total_supply\": \"16394737.0\", \n        \"percent_change_1h\":
        \"-0.04\", \n        \"percent_change_24h\": \"6.97\", \n        \"percent_change_7d\":
        \"-11.55\", \n        \"last_updated\": \"1497641660\"\n    }, \n    {\n        \"id\":
        \"ethereum\", \n        \"name\": \"Ethereum\", \n        \"symbol\": \"ETH\",
        \n        \"rank\": \"2\", \n        \"price_usd\": \"370.762\", \n        \"price_btc\":
        \"0.148423\", \n        \"24h_volume_usd\": \"1359580000.0\", \n        \"market_cap_usd\":
        \"34310581687.0\", \n        \"available_supply\": \"92540718.0\", \n        \"total_supply\":
        \"92540718.0\", \n        \"percent_change_1h\": \"-0.4[...]
- request:
    method: get
    uri: https://api.coinmarketcap.com/v2/ticker/?limit=10&structure=array
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"data\": [\n        {\n            \"id\": 1, \n            \"name\":
        \"Bitcoin\", \n            \"symbol\": \"BTC\", \n            \"website_slug\":
        \"bitcoin\", \n            \"rank\": 1, \n            \"circulating_supply\":
        17243775.0, \n            \"total_supply\": 17243775.0, \n            \"max_supply\":
        21000000.0, \n            \"quotes\": {\n                \"USD\": {\n                    \"price\":
        7061.66986717, \n                    \"volume_24h\": 4278053675.05673, \n
        \                   \"market_cap\": 121769846314.0, \n                    \"percent_change_1h\":
        0.17, \n                    \"percent_change_24h\": 1.69, \n                    \"percent_change_7d\":
        4.97\n                }\n            }, \n            \"last_updated\": 1535811683\n
        \       }, \n        {\n            \"id\": 1027, \n            \"name\":
        \"Ethereum\", \n            \"symbol\": \"ETH\", \n            \"website_slug\":
        \"ethereum\", \n            \"rank\": 2, \n            [...]
