---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/bitcoin/?convert=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        [
            {
                "id": "bitcoin", 
                "name": "Bitcoin", 
                "symbol": "BTC", 
                "rank": "1", 
                "price_usd": "11910.6", 
                "price_btc": "1.0", 
                "24h_volume_usd": "6975910000.0", 
                "market_cap_usd": "199176342487", 
                "available_supply": "16722612.0", 
                "total_supply": "16722612.0", 
                "max_supply": "21000000.0", 
                "percent_change_1h": "-0.14", 
                "percent_change_24h": "2.49", 
                "percent_change_7d": "16.4", 
                "last_updated": "1512518052", 
                "price_eur": "10076.0460138", 
                "24h_volume_eur": "5901431510.43", 
                "market_cap_eur": "168497807983"
            }
        ]
  recorded_at: Fri, 16 Jun 2017 20:13:31 GMT
recorded_with: VCR 3.0.3
