---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/bitcoin/?convert=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"id\": \"bitcoin\", \n        \"name\": \"Bitcoin\",
        \n        \"symbol\": \"BTC\", \n        \"rank\": \"1\", \n        \"price_usd\":
        \"2539.19\", \n        \"price_btc\": \"1.0\", \n        \"24h_volume_usd\":
        \"1336140000.0\", \n        \"market_cap_usd\": \"41629448732.0\", \n        \"available_supply\":
        \"16394775.0\", \n        \"total_supply\": \"16394775.0\", \n        \"percent_change_1h\":
        \"0.94\", \n        \"percent_change_24h\": \"6.56\", \n        \"percent_change_7d\":
        \"-10.9\", \n        \"last_updated\": \"1497643757\"\n    }\n]"
  recorded_at: Fri, 16 Jun 2017 20:13:31 GMT
- request:
    method: get
    uri: https://api.coinmarketcap.com/v2/ticker/bitcoin/?convert=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"data\": null, \n    \"metadata\": {\n        \"timestamp\":
        1535811226, \n        \"error\": \"id not found\"\n    }\n}"
  recorded_at: Sat, 01 Sep 2018 14:22:42 GMT
- request:
    method: get
    uri: https://api.coinmarketcap.com/v2/ticker/1/?convert=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"data\": {\n        \"id\": 1, \n        \"name\": \"Bitcoin\",
        \n        \"symbol\": \"BTC\", \n        \"website_slug\": \"bitcoin\", \n
        \       \"rank\": 1, \n        \"circulating_supply\": 17243775.0, \n        \"total_supply\":
        17243775.0, \n        \"max_supply\": 21000000.0, \n        \"quotes\": {\n
        \           \"USD\": {\n                \"price\": 7061.35455008, \n                \"volume_24h\":
        4282030549.13706, \n                \"market_cap\": 121764409057.0, \n                \"percent_change_1h\":
        0.15, \n                \"percent_change_24h\": 1.67, \n                \"percent_change_7d\":
        4.96\n            }\n        }, \n        \"last_updated\": 1535811866\n    },
        \n    \"metadata\": {\n        \"timestamp\": 1535811353, \n        \"error\":
        null\n    }\n}"
  recorded_at: Sat, 01 Sep 2018 14:26:40 GMT
recorded_with: VCR 4.0.0
