---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/bitcoin/?convert=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"id\": \"bitcoin\", \n        \"name\": \"Bitcoin\",
        \n        \"symbol\": \"BTC\", \n        \"rank\": \"1\", \n        \"price_usd\":
        \"11910.6\", \n        \"price_btc\": \"1.0\", \n        \"24h_volume_usd\":
        \"6975910000.0\", \n        \"market_cap_usd\": \"199176342487\", \n        \"available_supply\":
        \"16722612.0\", \n        \"total_supply\": \"16722612.0\", \n        \"max_supply\":
        \"21000000.0\", \n        \"percent_change_1h\": \"-0.14\", \n        \"percent_change_24h\":
        \"2.49\", \n        \"percent_change_7d\": \"16.4\", \n        \"last_updated\":
        \"1512518052\", \n        \"price_eur\": \"10076.0460138\", \n        \"24h_volume_eur\":
        \"5901431510.43\", \n        \"market_cap_eur\": \"168497807983\"\n    }\n]"
  recorded_at: Fri, 16 Jun 2017 20:13:31 GMT
- request:
    method: get
    uri: https://api.coinmarketcap.com/v2/ticker/bitcoin/?convert=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"data\": null, \n    \"metadata\": {\n        \"timestamp\":
        1535811183, \n        \"error\": \"id not found\"\n    }\n}"
  recorded_at: Sat, 01 Sep 2018 14:22:44 GMT
- request:
    method: get
    uri: https://api.coinmarketcap.com/v2/ticker/1/?convert=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"data\": {\n        \"id\": 1, \n        \"name\": \"Bitcoin\",
        \n        \"symbol\": \"BTC\", \n        \"website_slug\": \"bitcoin\", \n
        \       \"rank\": 1, \n        \"circulating_supply\": 17243775.0, \n        \"total_supply\":
        17243775.0, \n        \"max_supply\": 21000000.0, \n        \"quotes\": {\n
        \           \"USD\": {\n                \"price\": 7060.30799031, \n                \"volume_24h\":
        4283200319.29742, \n                \"market_cap\": 121746362416.0, \n                \"percent_change_1h\":
        0.13, \n                \"percent_change_24h\": 1.64, \n                \"percent_change_7d\":
        4.95\n            }, \n            \"EUR\": {\n                \"price\":
        6080.337241255, \n                \"volume_24h\": 3688692114.978945, \n                \"market_cap\":
        104847967312.0, \n                \"percent_change_1h\": 0.13, \n                \"percent_change_24h\":
        1.64, \n                \"percent_change_7d\": 4.95\n            }\n        },
        \n        \"last_updated\": 1535812224\n    }, \n    \"metadata\": {\n        \"timestamp\":
        1535811760, \n        \"error\": null\n    }\n}"
  recorded_at: Sat, 01 Sep 2018 14:31:48 GMT
recorded_with: VCR 4.0.0
