---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/random/?convert=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
            "error": "id not found"
        }
  recorded_at: Fri, 16 Jun 2017 20:15:21 GMT
- request:
    method: get
    uri: https://api.coinmarketcap.com/v2/ticker/random/?convert=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"data\": null, \n    \"metadata\": {\n        \"timestamp\":
        1535811229, \n        \"error\": \"id not found\"\n    }\n}"
  recorded_at: Sat, 01 Sep 2018 14:22:43 GMT
recorded_with: VCR 4.0.0
